@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
    background-size: cover;
}

.container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 0%;
    background: linear-gradient(-90deg, #173487,  #464b73);
    top: 35%;
    right: 50%;
    transform: translateY(-40%);
    z-index: 6;
    transition: 1.4s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.8s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.titulo{
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 4px 0px black;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem; 
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #1e021e;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color: #861b86;
}

.social-text{
    padding: .7rem 0;
    font-size: 1rem;
    color:#fff;
    text-shadow: 1px 2px 0px black;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .3s;
}

.social-icon:hover{
    color: #861b86;
    border-color:  #861b86;
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    left: -10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0,7rem 0;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 17% 2rem 12%;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: .5s;
}

.btn.transparent:hover{
    background: #9d3a6c;
}

.image{
    width: 75%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

/* Tabelas */

.tabela-usuario{
    width: 100%;
    border-collapse: collapse;  
}

.tabela-usuario td, .tabela-usuario th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabela-usuario tr:nth-child(even){background-color: #f2f2f2;}

.tabela-usuario tr:hover {background-color: #ddd;}

.tabela-usuario th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff9933;
    color: white;
}

/*Icones Editar/Deletar */
.table-icon{
    height: 46px;
    width: 46px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .3s;
}

.table-icon:hover{
    color: #ff9933;
    border-color:  #ff9933;
}

/* Animação */

.container.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 54%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content, 
.container.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}

.container.sign-up-mode .left-panel{
    pointer-events: none;
}

.container.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left: 0%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

/*Pagina de Cartas */

.container-cartas{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
    background-size: cover;
}

.forms-cartas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0;
}

.input-field-cartas{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 35px;
    padding: 0 .4rem;
    display: grid;
    grid-template-columns: 15% 85%; 
}

.input-field-cartas input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field-cartas select{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.descricao textarea{
    font-family: inherit;
    font-size: inherit;
    border-radius: 35px;
    padding: 0 .4rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    line-height: 1;
    margin: 10px 0;
    background-color: #f0f0f0;
}

.input-field-cartas i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.msg{
    color: #fff;
}

/* Menu */

.menu{
    padding: 25px 80px;
    margin: 0px;
    list-style: none;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: #1e021e;
}

.menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    position: relative;
    list-style: none;
}

.menu a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

/*Pagina Colecao*/
.colecao{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #acacac;
}

.colecContent{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

/*Tabela Colecao*/
.tabela-colecao{
    width: 100%;
    border-collapse: collapse;
    color: black;
    background-color: white;
}

.tabela-colecao td, .tabela-colecao th {
    border: 1px solid #ddd;
    padding: 8px;
  }

 .tabela-colecao th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ff9933;
    color: white;
  }